    body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 17px;
        
    
    }

    #main{
        background-color: rgb(250, 207, 128);
        padding: 0 80px 20px; 80px;
        
        
            
    }

    @media (max-width: 640px) {
        #main {
            padding: 0 20px 0 20px;
        }
        
    }
    @media (max-width: 460px) {
    #title{
            font-size: 0.5em;
        }
    }

    #title{
        text-align: center;
        display: block;
        padding: 2px;
        margin: 0;
        font-size: 1.75em;
        font-variant: small-caps;
        letter-spacing: 1px;
    
        
    }


    #img-div{
        padding: 20px;
        margin: 0px;
        background-color: #fff;
        
        
        
    }

        

    #image{
        background-color:wheat;
        max-width: 100%;
        min-width: 40;
        display: block; 
        height: auto;
        width: 100vw;
        margin: auto ;
        

    }


    #img-caption{
    
        margin: 15px  5px 0;
        
        text-align: center;
    }

    h2{
        text-align: center;
        display: block;
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 30px;
        
        
    }

    p{
        text-align: justify;
        margin-left: 40px;
    }

    ul{
        list-style-type: circle;
        
        
    }
    hr{
        border-color: black;
        
        
        
    }
    p{
        padding-bottom: 20px;
    
        margin:auto;
        text-align: justify;
    
    }

    #tribute-info{
        
    }

    h3{
        text-indent:-4%;
    }
